@import "https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap" ;
body{
    background: #000;
}
nav{
position: auto;
width: 1440px;
height: 70px;
left: 0px;
top: 0px;
padding: 0px 72px;

}

p1{
position: auto;
width: 130px;
height: 59px;
left: 50px;
top: 20px;
font-family: Salsa;
font-style: normal;
font-weight: normal;
font-size: 48px;
line-height: 59px;
text-align: center;
color: #FCFC0C;

}


.Q1{
position: auto;
width: 80%;
margin: auto;
margin-top: 5%;    
height: 45px;
font-size: 25px;
background: #2C2C2C;
text-align: left;
color: #FCFC0C;
font-family: 'Source Sans Pro', sans-serif;  
    
}


.answer{
position: auto;
width: 80%;
margin: auto;
height: 298px;

border-style: solid;
border-color: #FCFC0C;  
border-width: 2px;
background: #2C2C2C;
}

input{
    width: 99.4%;
    height: 290px;
    font-size: 20px;
    background: #2C2C2C;
    color: #FCFC0C;
    
}


.box3{

    position: auto;
width: 80%;
    margin: auto;
    margin-top: 2.5px;
height: 30px;

    text-align: right;
   
background: #2C2C2C
}
.add{
    position:  auto;
width: 100px;
    
height: 30px;


    font-size: 15px;
    color: #000;
        text-align: center;
border-radius: 40px;
background: #FCFC0C;
}
.cancel{
    position:  auto;
width: 100px;
height: 30px;

    font-size: 15px;
    color: #000;
        text-align: center;
border-radius: 40px;
background: #FCFC0C;
}
