.SidebarOptions{
    display: flex;
    flex-direction: column;
}

.SidebarOption{
    display: flex;
    align-items: center;
    padding: 10px;
    cursor: pointer;
}

.SidebarOption:hover{
    background-color: lightgray;
    border-radius: 5px;
}

.SidebarOption > img{
    height: 30px;
    width: 30px;
    margin-left: 20px;
    border-radius: 5px;
}

.SidebarOption > p{
   color: gray;
   font-weight: 400;
   margin-left: 10px;
   border-radius: 5px;
   text-decoration: none !important;
}

.SidebarOption > .MuiSvgIcon-root{
    color: gray;
    font-size: medium;
    margin-left: 20px;
}